<div class="header-container" id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <header class="home">
                    <h1>{{vm.title}}</h1>

                    <div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-2">
                        <section id="action">
                            <form role="form" name="searchForm" ng-submit="vm.search(vm.movie)">
                                <div class="input-group">
                                    <input ng-model="vm.movie" type="search" class="form-control" placeholder="search for a movie">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Search</button>
                                    </span>
                                </div>
                            </form>
                            <div>
                                <img id="the-movie-db-logo" class="img-responsive" alt="themoviedb.org logo" src="app/images/themoviedblogo.png" />
                            </div>
                            <small>This product uses the TMDb API but is not endorsed or certified by TMDb.</small>
                        </section>
                    </div>

                </header>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="center-block">
                <div ng-show="vm.results.length > 0">
                    <ul class="media-list">
                        <li class="media" ng-repeat="result in vm.results">
                            <div class="media-left">
                                <img class="media-object" ng-src="{{result.poster}}" alt="'{{result.original_title}}'">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{result.original_title}}</h4>
                                <p>Release Date: <span class="label label-success">{{result.release_date}}</span></p>
                                <p>Rating: <span class="label label-success">{{result.vote_average}}</span></p>
                                <p>Genres: <span ng-repeat="genre in result.genres"><span class="label label-success">{{genre}}</span>                                    </span>
                                </p>
                                <p>{{result.overview}}</p>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-primary" ng-click="vm.add(result)">Add</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div ng-show="vm.results.length == 0">
                    <p>No results</p>
                </div>
            </div>
        </div>
    </div>
</div>
